html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: 'Raleway',Arial, Helvetica, sans-serif; }

body {
  font-family: 'Raleway',Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-size: 75px;
  line-height: 98px;
  animation: moveInUp 2s; }

.heading-secondary {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333; }

.heading-tertiary {
  font-family: "open sans",Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 22px;
  color: #ffffff;
  line-height: 37px;
  animation: moveInUp 3s; }

.heading-quartiary {
  font-family: "open sans",Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  line-height: 34px; }

.heading-subtitle {
  display: inline-block;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #aaaaaa; }

.heading-subtitle-aboutus {
  display: inline-block;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #333333; }

.paragraph {
  font-family: "open sans",Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777; }

.header-item-title {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  color: #333333; }

.heading-facts {
  font-family: serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #03c4eb; }

.paragraph-facts {
  font-family: "open sans",Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3.5rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInUpBtns {
  0% {
    opacity: 0;
    transform: translateY(60px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.section-header {
  height: 92.8vh; }

.section-features {
  background: #f8f9f9;
  padding: 10rem 20rem; }

.section-aboutus {
  background: #ffffff;
  padding: 10rem 20rem; }

.section-services {
  background: #f8f9f9;
  padding: 10rem 20rem 5rem 20rem;
  height: 70rem; }

.section-parallax {
  padding: 10rem 20rem;
  height: 40rem;
  background: #ffffff; }

.section-gallery {
  background: #f8f9f9;
  padding: 10rem 0;
  height: 80rem; }
  .section-gallery h4 {
    color: #777777; }

.section-funfacts {
  background: #ffffff;
  padding: 10rem 20rem;
  text-align: center; }
  .section-funfacts h4 {
    color: #777777; }
  .section-funfacts .funfacts__cards {
    display: flex;
    justify-content: space-around;
    align-items: center; }

.section-team {
  background: #f8f9f9;
  padding: 10rem 20rem;
  text-align: center; }
  .section-team h3 {
    display: inline-block;
    border-bottom: 1px solid #777777;
    text-transform: uppercase; }
  .section-team__cards {
    display: flex; }
  .section-team__card {
    margin-right: 1px;
    width: 24%; }
    .section-team__card--img {
      width: 100%; }
      .section-team__card--img img {
        width: 100%; }

.section-subtitle {
  background: #ffffff;
  padding: 10rem 20rem;
  text-align: center; }
  .section-subtitle .subtitle__news {
    display: flex;
    border-bottom: 1px solid #777777;
    border-top: 1px solid #777777;
    padding: 30px;
    justify-content: flex-start; }
    .section-subtitle .subtitle__news--img {
      height: 150px;
      width: 300px; }
      .section-subtitle .subtitle__news--img img {
        width: 100%; }
    .section-subtitle .subtitle__news--content {
      text-align: start; }

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.4rem;
  position: fixed;
  background: white;
  z-index: 1; }
  .navigation__list {
    list-style: none;
    display: flex; }
  .navigation__item {
    margin-left: 3rem;
    text-transform: uppercase; }
  .navigation__link:visited, .navigation__link:link {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 75px; }
  .navigation__link:hover, .navigation__link:active {
    color: #03c4eb; }

.header__background {
  background: palegreen;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1555997619-a40fa2f10d0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000; }
  .header__background--container {
    background: transparent;
    width: 70%;
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%); }
  .header__background .header__links {
    animation: moveInUpBtns 4s; }

.feature__container {
  text-align: center; }

.feature-box__component {
  display: flex; }

.feature-box--container:hover .feature__box--round {
  transform: scale(1.2); }

.feature-box--container:hover .feature__box--round .feature__box-icon {
  background: black; }

.feature__box--round {
  width: 100%;
  display: block;
  margin: 0 auto;
  transition: all 0.3s; }

.feature__box-icon {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  background: #03c4eb;
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s; }

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42%);
  font-size: 4.5rem;
  color: #ffffff;
  transition: all 0.3s; }

.aboutus__container {
  text-align: center; }

.aboutus__cards {
  display: flex; }
  .aboutus__cards-container {
    display: flex;
    flex-direction: column;
    width: 640px;
    margin-right: 2%; }
    .aboutus__cards-container .aboutus__img {
      display: block;
      width: 100%;
      height: 340px; }

.services__container {
  text-align: center; }

.services__cards--container {
  padding-bottom: 10px;
  display: block;
  width: 47%;
  float: left;
  margin-right: 25px; }

.services__cards--subcontainer {
  background: #ffffff;
  padding: 30px;
  display: flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); }
  .services__cards--subcontainer:hover {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09); }

.services__cards--icon {
  background: #03c4eb;
  fill: black;
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s;
  margin-right: 30px; }

.grid__images {
  display: flex;
  flex-wrap: wrap; }

.grid__images_container {
  width: 19.85%;
  margin: 1px; }
  .grid__images_container img {
    width: 100%;
    display: block; }

.btn {
  font-family: 'Opens Sans',Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 1rem 1.75rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff; }
  .btn-primary:link, .btn-primary:visited {
    background: #03c4eb;
    border: 1px solid #03c4eb; }
  .btn-secondary:link, .btn-secondary:visited {
    background: transparent;
    border: 1px solid #ffffff; }
  .btn-secondary:hover, .btn-secondary:active {
    transition: all 0.5s;
    background: #ffffff;
    color: #000000; }
