html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: 'Raleway',Arial, Helvetica, sans-serif; }

body {
  font-family: 'Raleway',Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-size: 7.5rem;
  line-height: 9.8rem;
  animation: moveInUp 2s; }

.heading-secondary {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  color: #333333; }

.heading-tertiary {
  font-family: "open sans",Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 22px;
  color: #ffffff;
  line-height: 37px;
  animation: moveInUp 3s; }

.heading-quartiary {
  display: inline-block;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #aaaaaa; }

.paragraph {
  font-family: "open sans",Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777; }

.header-item-title {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.9rem;
  color: #333333; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3.5rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInUpBtns {
  0% {
    opacity: 0;
    transform: translateY(60px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.section-header {
  height: 92.8vh; }

.section-features {
  background: #f8f9f9;
  padding: 10rem 20rem; }

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.4rem;
  position: fixed;
  background: white;
  z-index: 1; }
  .navigation__list {
    list-style: none;
    display: flex; }
  .navigation__item {
    margin-left: 3rem;
    text-transform: uppercase; }
  .navigation__link:visited, .navigation__link:link {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 75px; }
  .navigation__link:hover, .navigation__link:active {
    color: #03c4eb; }

.header__background {
  background: palegreen;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1555997619-a40fa2f10d0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000; }
  .header__background--container {
    background: transparent;
    width: 70%;
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%); }
  .header__background .header__links {
    animation: moveInUpBtns 4s; }

.feature__container {
  text-align: center; }

.feature-box__component {
  display: flex; }

.feature-box--container:hover .feature__box--round {
  transform: scale(1.2); }

.feature-box--container:hover .feature__box--round .feature__box-icon {
  background: black; }

.feature__box--round {
  width: 100%;
  display: block;
  margin: 0 auto;
  transition: all 0.3s; }

.feature__box-icon {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  background: #03c4eb;
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s; }

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42%);
  font-size: 4.5rem;
  color: #ffffff;
  transition: all 0.3s; }

.btn {
  font-family: 'Opens Sans',Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 1rem 1.75rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff; }
  .btn-primary:link, .btn-primary:visited {
    background: #03c4eb;
    border: 1px solid #03c4eb; }
  .btn-secondary:link, .btn-secondary:visited {
    background: transparent;
    border: 1px solid #ffffff; }
  .btn-secondary:hover, .btn-secondary:active {
    transition: all 0.5s;
    background: #ffffff;
    color: #000000; }
